<html>
<head>
	<title>Chatter</title>
	<link rel="shortcut icon" href="favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
	<script src='/_ah/channel/jsapi'></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
	<script>var state = {
	    game_key: '{{ game_key }}',
	    me: '{{ me }}'
	  };
	 
	  var count = 0;

	  sendChat = function (){
		 var input = document.getElementById('messageBox').value;
		 sendMessage('/post', input);
	  }

	  sendMessage = function(path, param) {
		if (param)
		{
	       path +='?chat='+param;
	    }
	    var xhr = new XMLHttpRequest();
	    xhr.open('POST', path, true);
	    xhr.send();
	  };

	  onOpened = function() {
	    sendMessage('/opened');
	  };

	  onMessage = function(m) {
		var a = JSON.parse(String(m.data));
		var user = a.user;
		var message = a.message;
		$(document).ready(function(){
		    $("#outputBox").append('<p class="triangle-isosceles left bubble"><span class="person"><b>'+user+':</b></span><span class="message"><br>'+message+'</span></p>');
		});
		count++;
		afterSubmit();
	  }
	
	  openChannel = function() {
	    var token = '{{ token }}';
	    var channel = new goog.appengine.Channel(token);
	    var handler = {
	      'onopen': onOpened,
	      'onmessage': onMessage,
	      'onerror': function() {},
	      'onclose': function() {}
	    };
	    var socket = channel.open(handler);
	    socket.onopen = onOpened;
	    socket.onmessage = onMessage;
	  }

	  initialize = function() {
	    openChannel();
	    onMessage({data: '{{ initial_message }}'});
	    var submitButton = document.getElementById('submitButton');
	    submitButton.onclick = new Function('sendChat()');
	  }      
	  setTimeout(initialize, 100); </script>
	<div id="login"><a href="{{ url }}">{{ url_linktext }}</a></div>
	<div class="logo"><a href="http://people.bu.edu/bt" target="_blank"><img src="/images/logo.png"/></a></div>
	
		<div class="output" id="outputBox">
			{% for greeting in greetings %}
			<p class="triangle-isosceles left bubble"> 
			<span class="person">
			{% if greeting.author %}
			<b>{{ greeting.author }}</b>:
			{% else %}
			Anonymous:</span>
			{% endif %}
			<span class="message"><br>{{ greeting.content|escape }}</span></p>
			{% endfor %}
		</div>

		<div class="chatter" id="ChatterDiv">
				<div>
					<input id="messageBox" class="inputBox" name="content" type="text" onKeyDown="limitText(this.form.content,this.form.countdown,144);" 
					onKeyUp="limitText(this.form.content,this.form.countdown,144);" maxlength="144" onkeypress="if(event.keyCode==13) {sendChat();}"><br>
					<p class="count">You have <input readonly type="text" name="countdown" size="2" value="144"> characters left.</p>
				</div>
				<div><input id="submitButton" type="button" class="chatButton" value="Chatter" id="submitButton"></div>

		</div>
	<!-- Channel script -->
		<script type="text/javascript" src="/scripts/channel.js"></script>
	<!-- Other script -->	
    	<script type="text/javascript" src="/scripts/script.js"></script>
</body>
	</html>